@{
    ViewData["Title"] = "Home Page";
}

@*image at the top of the page*@

<div class="topDiv order-0" style="display:flex;">
    <div style="color:#94B0DF;  padding-top: 80px; padding-left: 400px; font-family: sans-serif; font-style:normal;">
        <h2 style="font-size:40px; " class="" >Coverage Maps</h2>
        <p style="color:white; font-size:20px;"> Find the right provider for you</p>
    </div>
    <img class="order-3" style=" overflow:visible; height:300px; display:flex; margin-left:10%; margin-top:70px; border: solid 3px orange; " src="~/containerShip2.png"/>
</div>
<div style="background-color:whitesmoke;">
    @*This div below is where the overlay switches go*@
    <div>
        <h1>Overlay Switches!</h1>
    </div>

    @*MAP AND CONTROLS DIV*@
    <div id="map" style="position: relative; margin-left:12%; margin-top:5%; border: solid 3px orange;">
    </div>

    @*Divs below this contain other content such as the P2P Mode*@
    <div>
        <h1>Point to Point Mode!</h1>
    </div>
</div>

@*Information and coverage areas for country selected*@
<section>
    <div class="CountryInfo" style="" >
        <div>
            <h2 style="text-align:left; padding-bottom:25px; padding-left:20%; color: #94B0DF; font-size:50px;">Country</h2>
            <div>
                <p class="TxtBlue" style="padding-left:20%; padding-right:20%; font-size:18px;">If you're looking for coverage over *name* then you have *number* options! Your options for land coverage over *name* are *coverage services*.</p>
            </div>
            <br />
            <br />
            <div>
                <p class="TxtBlue" style="padding-left:20%; padding-right:20%; font-weight:bold; font-size:18px;">This is what the different coverage areas look like for *name* click on a coverage area if you want to see infomation about them.</p>
            </div>
            <div>
                <div style ="text-align:center; padding-top:25px;">
                    @*Iridiumn map*@
                    <img style="height:525px;  margin-left:auto; margin-right:auto; width: 50%; display:block;" id="coverageMap" src="~/IridiumMap.png" />
                </div>
                
                <div style="text-align:center">
                    @*Global VSAT Coverage Map*@
                    
                    <img style="height:500px; margin-left:24%;  width: 50%; display:block;" id="coverageMap2" src="~/GlobalVSATcoverage.png"/>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
</section>

@*CSS for classes on Page*@
<style>
    .CountryInfo{
        
        color: white;
        
    }

    .headerImg{
        height:500px;
        width: 100%;
    }
    
    .topDiv{
        background-color: #182335;
        height:300px;
    }
</style>

@*Script to for map functionality not zooming or zoom controls*@
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const mapElement = document.getElementById('map');
        const svgPath = '/world-map.svg';

        function loadSvgFile() {
            fetch(svgPath)
                .then(response => response.text())
                .then(svgText => {
                    mapElement.innerHTML = svgText;
                    addEventListeners();
                    initializePanZoom();
                })
                .catch(error => console.error('Failed to load SVG file:', error));
        }

        // Add a click event listener to SVG paths
        document.querySelectorAll('path').forEach(function (path) {
            // Initialize the clicked state for each path
            path.isClicked = false;

            path.addEventListener('click', function () {
                // Toggle the clicked state for the current path
                this.isClicked = !this.isClicked;

                // Set the fill color based on the clicked state
                if (this.isClicked) {
                    this.setAttribute('fill', '#8A9A5B');
                } else {
                    this.setAttribute('fill', '');
                }
            });
        });

        function addEventListeners() {
            const paths = mapElement.querySelectorAll('path');
            paths.forEach(path => {
                path.addEventListener('click', function () {
                    resetCountryColors();
                    this.setAttribute('fill', '#8A9A5B');
                });
            });
        }

        function resetCountryColors() {
            const paths = mapElement.querySelectorAll('path');
            paths.forEach(path => {
                path.removeAttribute('fill');
            });
        }

        function initializePanZoom() {
            const mapSvg = mapElement.querySelector('svg');
            const panZoomMap = svgPanZoom(mapSvg, {
                zoomEnabled: true,
                controlIconsEnabled: true,
                fit: true,
                center: true,
            });

            function resizePanZoomContainer() {
                const mapRect = mapSvg.getBoundingClientRect();
                panZoomMap.resize(mapRect.width, mapRect.height);
            }

            // Resize the container initially
            resizePanZoomContainer();

            // Resize the container when the window is resized
            window.addEventListener('resize', resizePanZoomContainer);
        }

        loadSvgFile();

        function changeImage(){
            var img = document.getElementById("coverageMap");
            img.src="global VSAT coverage.svg"
            return false;
        }
       
    });
  
</script>

@*Script for zoom controls (scroll wheel zooming and zoom in and out button)*@
<script src="/js/svg-pan-zoom.min.js"></script>

@*CSS Loaded here to override default zoom buttons positions*@
<link rel="stylesheet" href="/css/site.css">
