@{
    ViewData["Title"] = "Home Page";
}

@* This div below is where the overlay switches go *@
<div>
    <h1>Overlay Switches!</h1>
</div>
<div id="map-container">

    @* MAP AND CONTROLS DIV *@
    <div id="map" style="position: relative;"></div>
    <div id="sidebar">

        <div class="sidebar-box">
            <h2>Coverage Providers</h2>

            <div class="large-switch">
                <input type="checkbox" id="covProvMaster">
                <label for="covProvMaster" class="slider"></label>
            </div>

            <div class="switch">
                <label for="insatGX">Inmarsat Global Xpress</label>
                <input type="checkbox" id="insatGX">
                <label class="slider"></label>
            </div>

            <div class="switch">
                <label for="thuraya">Thuraya</label>
                <input type="checkbox" id="thuraya">
                <label class="slider"></label>
            </div>

            <div class="switch">
                <label for="insatFB">Inmarsat FleetBroadband</label>
                <input type="checkbox" id="insatFB">
                <label class="slider"></label>
            </div>

            <div class="switch">
                <label for="astGVsat">AST Global VSAT</label>
                <input type="checkbox" id="astGVsat">
                <label class="slider"></label>
            </div>

            <div class="switch">
                <label for="iridium">Iridium</label>
                <input type="checkbox" id="iridium">
                <label class="slider"></label>
            </div>
        </div>
    </div>
</div>

@* Divs below this contain other content such as the P2P Mode *@
<div>
    <h1>Point to Point Mode!</h1>
</div>

@* Script for map functionality (including zooming and pan) *@
<script src="/js/overlaySwitches.min.js"></script>
<script src="/js/clickablemap.min.js"></script>
<script src="/js/svg-pan-zoom.min.js"></script>

@* CSS Loaded here to override default zoom buttons positions *@
<link rel="stylesheet" href="/css/site.css">
