@{
    ViewData["Title"] = "Home Page";
}

@*image at the top of the page*@

<div class="topDiv order-0" style="display:flex;">
    <div style="color:#94B0DF;  padding-top: 80px; padding-left: 400px; font-family: sans-serif; font-style:normal;">
        <h2 style="font-size:40px; " class="" >Coverage Maps</h2>
        <p style="color:white; font-size:20px;"> Find the right provider for you</p>
    </div>
    <img class="order-3" style=" overflow:visible; height:300px; display:flex; margin-left:10%; margin-top:70px; border: solid 3px orange; " src="~/containerShip2.png"/>
</div>

 
@* This div below is where the overlay switches go *@
<div>
    <h1>Overlay Switches!</h1>
</div>
<div id="map-container">

    @*MAP AND CONTROLS DIV*@
    <div id="map" style="position: relative;  margin-top:5%; border: solid 3px orange;">
    </div>
    @* MAP AND CONTROLS DIV *@
    <div id="map" style="position: relative;"></div>
    <div id="sidebar">

        <div class="sidebar-box">
            <h2>Coverage Providers</h2>

            <div class="large-switch">
                <input type="checkbox" id="covProvMaster">
                <label for="covProvMaster" class="slider"></label>
            </div>

            <div class="switch">
                <label for="insatGX">Inmarsat Global Xpress</label>
                <input type="checkbox" id="insatGX">
                <label class="slider"></label>
            </div>
    @*Divs below this contain other content such as the P2P Mode*@
    
        </div>

            <div class="switch">
                <label for="thuraya">Thuraya</label>
                <input type="checkbox" id="thuraya">
                <label class="slider"></label>
            </div>
    </div>
</div>
@*Information and coverage areas for country selected*@
<section>
    <div class="CountryInfo" style="" >
        <div >
            <h2 style="text-align:left; padding-bottom:25px; padding-left:20%; color: #94B0DF; font-size:50px;">Country</h2>
            <div>
                <p class="TxtBlue" style="padding-left:20%; padding-right:20%; font-size:18px;">If you're looking for coverage over *name* then you have *number* options! Your options for land coverage over *name* are *coverage services*.</p>
            </div>
            <br />
            <br />
            <div>
                <p class="TxtBlue" style="padding-left:20%; padding-right:20%; font-weight:bold; font-size:18px;">This is what the different coverage areas look like for *name* click on a coverage area if you want to see infomation about them.</p>
            </div>
            <div>
                <div style ="text-align:center; padding-top:25px;">
                    @*Iridiumn map*@
                    <img style="height:525px;  margin-left:auto; margin-right:auto; width: 50%; display:block; " id="coverageMap" src="~/IridiumMap.png" onclick='changeImage("ir")' />
                </div>
                
                <div style="text-align:center">
                    @*Global VSAT Coverage Map*@
                    
                    <img style="height:500px; margin-left:24%;  width: 50%; display:block; " id="coverageMap2" src="~/GlobalVSATcoverage.png"/>
                </div>
                <div>
                    @*Third image Inmarsat global Xpress*@
                    <img style="height:500px; margin-left:24%;  width: 50%; display:block; " id="coverageMap3" src="~/Inmarsat global Xpress.png" />
                </div>
            </div>
        </div>
    </div>
</section>

@*CSS for classes on Page*@
<style>
    .CountryInfo{
        
        color: white;
        padding-top: 80px;  
        font-family: sans-serif;
        font-style:normal;
    }

    .headerImg{
        height:500px;
        width: 100%;
    }
    
    .topDiv{
        background-color: #182335;
        height:300px;
        border-bottom:solid 3px orange;
    }
</style>

@*Script to for map functionality not zooming or zoom controls*@
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const mapElement = document.getElementById('map');
        const svgPath = '/world-map.svg';

            <div class="switch">
                <label for="insatFB">Inmarsat FleetBroadband</label>
                <input type="checkbox" id="insatFB">
                <label class="slider"></label>
            </div>

            <div class="switch">
                <label for="astGVsat">AST Global VSAT</label>
                <input type="checkbox" id="astGVsat">
                <label class="slider"></label>
            </div>

            <div class="switch">
                <label for="iridium">Iridium</label>
                <input type="checkbox" id="iridium">
                <label class="slider"></label>
            </div>
        </div>
    </div>
</div>

@* Divs below this contain other content such as the P2P Mode *@
<div>
    <h1>Point to Point Mode!</h1>
</div>
        loadSvgFile();

        function changeImage(a){
            if (document.getElementById("coverageMap").click()
            {
                document.getElementById("coverageMap").src.a.;
            }
        }
       
    });
  
</script>

@* Script for map functionality (including zooming and pan) *@
<script src="/js/overlaySwitches.min.js"></script>
<script src="/js/clickablemap.min.js"></script>
<script src="/js/svg-pan-zoom.min.js"></script>

@* CSS Loaded here to override default zoom buttons positions *@
<link rel="stylesheet" href="/css/site.css">
