.clicked {
    fill: #8A9A5B;
    stroke: black;
}

#map-container {
    width:100%;
    display:flex;
    position: relative;
    padding-bottom: 5%;
    background-color:whitesmoke;
}

#map {
    height: 90vh;
    width:74%;
    background-color:#B2BEB5
}