.svg-pan-zoom-in,
.svg-pan-zoom-reset-pan-zoom,
.svg-pan-zoom-out {
    position: fixed;
    top: 100px;
    right: 10px;
    z-index: 9999;
    color: black !important;
    background-color: white !important;
}

.clicked {
    fill: #8A9A5B;
    stroke: black;
}

.sea, .ocean {
    fill: #6082B6;
    cursor: pointer;
}

.blue {
    fill: blue;
    /* Add any other desired styles */
}

#map-container {
    width: 100%;
    display: flex;
    position: relative;
    background-color: whitesmoke;
    padding-bottom: 5%;
}

#map {
    background-color: #b2beb5;
    height: 80vh;
}

.mapPinIcon {
    position: absolute;
    transform: translate(-50%, -100%);
    pointer-events: none; /* Ensures the pin icon doesn't block mouse events on the map */
}

.pin-icon {
    position: absolute;
    width: 20px; /* Adjust the width and height as needed */
    height: 20px;
    background-color: red; /* Adjust the background color and icon image as needed */
    background-image: url('path/to/pin-icon-image.png');
    background-size: cover;
    border-radius: 50%;
    pointer-events: none; /* Ensures the pin icon doesn't block mouse events on the map */
}
