html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#sidebar {
    height:90vh;
    width:36%;
    background-color: #d3d3d3;
    padding:0.7%;
    margin-top: 5%;
    border: solid 0.7vh orange;
}

.sidebar-box {
    background-color: #f2f2f2;
    padding: 2vh;
    margin-bottom: 2vh;
    height:100%;
}

    .sidebar-box h2 {
        font-size: 3vw;
        margin-bottom: 10px;
    }

.switch {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    font-size: 0.8vw;
}

    .switch label {
        margin-right: 1vh;
        cursor: pointer;
    }

    .switch input[type="checkbox"] {
        display: none;
    }

    .switch .slider {
        position: relative;
        display: inline-block;
        width: 4vh;
        height: 2vh;
        background-color: #CC5500;
        border-radius: 0.9vh;
        cursor: pointer;
    }

        .switch .slider:before {
            position: absolute;
            content: "";
            height: 1.6vh;
            width: 1.6vh;
            left: 4%;
            bottom: 0.2vh;
            background-color: white;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
        }

    .switch input[type="checkbox"]:checked + .slider {
        background-color: #8A9A5B;
    }

        .switch input[type="checkbox"]:checked + .slider:before {
            transform: translateX(2vh);
        }


    /* CSS code for the larger switch */
.large-switch {
    position: relative;
    display: inline-block;
    width: 20vh;
    height: 6vh;
    margin-bottom: 2vh;
    cursor: pointer;
}

    .large-switch input[type="checkbox"] {
        display: none;
    }

    .large-switch .slider {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #CC5500;
        border-radius: 3vh;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

        .large-switch .slider:before {
            position: absolute;
            content: "";
            top: 4.5%;
            left: 0.4vh;
            width: 5.5vh;
            height: 5.5vh;
            background-color: white;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
        }

    .large-switch input[type="checkbox"]:checked + .slider {
        background-color: #8A9A5B;
    }

.svg-pan-zoom-in,
.svg-pan-zoom-reset-pan-zoom,
.svg-pan-zoom-out {
    position: fixed;
    top: 10vh;
    right: 1vh;
    z-index: 9999;
}

.clicked {
    fill: #8A9A5B;
    stroke: black;
}
        .large-switch input[type="checkbox"]:checked + .slider:before {
            transform: translateX(13.5vh)
        }