html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#map {
    position: relative;
    width: 75%;
    height: 100vh;
    padding: 10px;
}

.svg-pan-zoom-in,
.svg-pan-zoom-reset-pan-zoom,
.svg-pan-zoom-out {
    position: fixed;
    top: 100px;
    right: 10px;
    z-index: 9999;
}

.clicked {
    fill: #8A9A5B;
    stroke: black;
}
